@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
}

/* Styles généraux */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #F2F4F5;
}

header {
    background-color: #3C3C3C;
    padding: 1px;
    text-align: center;
}

.logo {
    display: block;
    margin: 30px auto;
    max-width: 300px; /* Adjust the size as needed */
}

/* Section Hero */
.hero-section {
    background-color: #F2F4F5;
    padding: 40px 20px 1px 20px;
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 400;
}

.hero-content .highlight {
    color: #3B9F8B;
    font-weight: 700;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.launch-date {
    font-weight: 700;
    color: #555;
    margin-bottom: 10px;
}

/* Section Partenaires */
.partners-section {
    background-color: #F2F4F5;
    padding: 60px 20px 10px;
    text-align: center;
}

.partners-title {
    font-size: 18px;
    font-weight: 400;
    color: #3B9F8B;
    margin-top: 50px;
}

.partners-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.partner-logo {
    max-width: 150px;
    margin: 10px 20px;
    filter: grayscale(100%);
}

/* Section Contact */
.contact-section {
    background-color: #F2F4F5;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: #3C3C3C;
    animation: slide-in 2s forwards;
}

@keyframes slide-in {
    to {
        left: 0;
    }
}


.contact-content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-link {
    font-size: 20px;
    color: #6AB7D6;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Pied de page */
.footer {
    margin-top: 40px;
}

.footer-divider {
    height: 1px;
    background-color: #3C3C3C;
    opacity: 0.1;
    margin: 20px 0;
}

.footer-bottom p {
    font-size: 14px;
    opacity: 0.5;
}

/* Classes utilitaires */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Styles pour la page 404 */
.error-container {
    background-color: #F2F4F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.error-code {
    font-size: 100px;
    font-weight: 700;
    color: #3B9F8B;
    margin: 0;
}

.error-message h2 {
    font-size: 36px;
    margin: 20px 0;
    font-weight: 400;
}

.error-message p {
    font-size: 18px;
    margin-bottom: 30px;
}

.home-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3B9F8B;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.home-link:hover {
    background-color: #2e7d6b;
}
